<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>租房客主界面</title>
    <link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
    <link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
    <link rel="stylesheet" href="__STATIC__/style/init/init.css">
    <link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
    <link rel="stylesheet" href="__STATIC__/style/main/main.css">
    <link rel="stylesheet" href="__STATIC__/style/admin/index.css">
    <script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
    <script src="__STATIC__/scripts/sui/sui.min.js"></script>
    <script src="__STATIC__/scripts/banner/banner.js"></script>
<body>
    <div class="mobile">
        <?php include_once "/static/banner-m.php"; ?>
        <div class="main-content">
            <div class="show-content">
                <!--业务界面-->
                <div class="title">
                    <div class="milky">
                        系统版本
                    </div>
                </div>
                <div class="normal-t">后台管理系统1.0</div>
                <div class="normal-t">英杰四人组出品 严禁盗用商业用途</div>
                <div class="title">
                    <div class="milky">
                        系统开发
                    </div>
                </div>
                <div class="normal-t">英杰四人组制作</div>
                <div class="title">
                    <div class="milky">
                        联系方式
                    </div>
                </div>
                <div class="contact">
                    <div class="pure-g clearfix">
                        <div class="pure-u-1-1 developer">
                            <ul>
                                <li><h1>空白</h1></li>
                                <li>微信:youmochenzi</li>
                                <li>手机:13175001592</li>
                                <li>邮箱:764017976@qq.com</li>
                            </ul>
                        </div>
                        <div class="pure-u-1-1 developer">
                            <ul>
                                <li><h1>雨田尸匕</h1></li>
                                <li>微信:ugv008</li>
                                <li>手机:13587666107</li>
                                <li>邮箱:153241070@qq.com</li>
                            </ul>
                        </div>
                        <div class="pure-u-1-1 developer">
                            <ul>
                                <li><h1>顺着风筝去追梦</h1></li>
                                <li>微信:rongliang070</li>
                                <li>手机:15825630130</li>
                                <li>邮箱:602029937@qq.com</li>
                            </ul>
                        </div>
                        <div class="pure-u-1-1 developer">
                            <ul>
                                <li><h1>镜夜</h1></li>
                                <li>微信:HUZY__</li>
                                <li>手机:13868646195</li>
                                <li>邮箱:377577112@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="computer">
        <?php include_once "../app/admin/view/banner/banner.html"; ?>
        <div class="main-content">
            <div class="show-content">
                <!--业务界面-->
                <div class="title">
                    <div class="milky">
                        系统版本 {$data.name}
                    </div>
                </div>
                <div class="normal-t">后台管理系统1.0</div>
                <div class="normal-t">英杰四人组出品 严禁盗用商业用途</div>
                <div class="title">
                    <div class="milky">
                        系统开发
                    </div>
                </div>
                <div class="normal-t">英杰四人组制作</div>
                <div class="title">
                    <div class="milky">
                        联系方式
                    </div>
                </div>
                <div class="contact">
                    <div class="pure-g clearfix">
                        <div class="developer">
                            <ul>
                                <li><h1>空白</h1></li>
                                <li>微信:youmochenzi</li>
                                <li>手机:13175001592</li>
                                <li>邮箱:764017976@qq.com</li>
                            </ul>
                        </div>
                        <div class="developer">
                            <ul>
                                <li><h1>雨田尸匕</h1></li>
                                <li>微信:ugv008</li>
                                <li>手机:13587666107</li>
                                <li>邮箱:153241070@qq.com</li>
                            </ul>
                        </div>
                        <div class="developer">
                            <ul>
                                <li><h1>顺着风筝去追梦</h1></li>
                                <li>微信:rongliang070</li>
                                <li>手机:15825630130</li>
                                <li>邮箱:602029937@qq.com</li>
                            </ul>
                        </div>
                        <div class="developer">
                            <ul>
                                <li><h1>镜夜</h1></li>
                                <li>微信:HUZY__</li>
                                <li>手机:13868646195</li>
                                <li>邮箱:377577112@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
   
 