<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公租房信息管理系统 - xxxxx</title>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center"  border="0">
		    <tr>
		      <th colspan="2">系统版本</th>
		    </tr>
		    <tr>
		      <td width="100" height="30">当前版本<span class="TableRow2"></span></td>
		      <td style="text-align:left">后台管理系统1.0</td>
		    </tr>
		    <tr>
		      <td width="100" height="30">版权声明</td>
		      <td style="text-align:left">1、 <br>
		      	  2、</td>
		    </tr>
		</table>
		<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
		    <tr>
		      <th colspan="2">系统开发 </th>
		    </tr>
		    <tr>
		      <td width="100" height="30">程序制作</td>
		      <td style="text-align:left">英杰四人组</td>
		    </tr>
		    <tr>
		      <td width="100" height="30">联系方式</td>
		      <td style="text-align:left">
		      	<a href="mailto:shangcent@126.com">xxxxx@163.com</a>
		      </td>
		    </tr>
		    <tr>
		      <td width="100" height="30">程序主页<span class="TableRow2"></span></td>
		      <td style="text-align:left">
		      	<a href="http://www.shangcent.com" target="_blank">https://www.zufangke.com</a>
		      </td>
		    </tr>
		</table>
	</div>
	<div style="text-align:center;">
		<div>IP:{$data['ip']}</div>
		<div>PHP版本：{$data['php_version']}</div>
		<div>Zend版本：{$data['zend_version']}</div>
		<div>服务器：{$data['apache']}</div>
	</div>
</body>
</html>
