<div class="top-banner">
    <div class="slide clearfix">
        <div class="logo"></div>
        <div class="user">
            <div class="tt"><a href="/user" style="color: rgb(2,96,196);">{$Think.session.name}</a></div>
            <div class="adid" style="display: none;">{$Think.session.adid}</div>
            <div class="uid" style="display: none;">{$Think.session.uid}</div>
            <div class="phone" style="display: none;">{$Think.session.phone}</div>
            <div class="line"></div>
            <div class="quit"><a href="/login/out">退出</a></div>
        </div>
    </div>
</div>
<div class="left-banner">
    <div class="pure-g left-move">
        <div class="pure-u-1-1 banner-slide tb">
            <a href="/index">
                <p><img src="/static/images/main-banner/banner-icon/tb.png" alt=""></p>
                <p>首页</p>
                </a>
            </div>
        <div class="pure-u-1-1 banner-slide wareHouse">
            <a href="/House">
                <p><img src="/static/images/main-banner/banner-icon/icons_warehouse.png" alt=""></p>
                <p>房源管理</p>
            </a>
        </div>
        <div class="pure-u-1-1 banner-slide contract">
            <a href="/contract">
                <p><img src="/static/images/main-banner/banner-icon/contract.png" alt=""></p>
                <p>合同录入</p>
            </a>
        </div>
        <div class="pure-u-1-1 banner-slide post">
            <a href="/accounts">
                <p><img src="/static/images/main-banner/banner-icon/post.png" alt=""></p>
                <p>租金核算</p>
            </a>
        </div>
        <div class="pure-u-1-1 banner-slide sleep">
            <p><img src="/static/images/main-banner/banner-icon/sleep.png" alt=""></p>
            <p>入住确认</p>
        </div>
        <div class="pure-u-1-1 banner-slide system">
            <div>
                <p><img src="/static/images/main-banner/banner-icon/system.png" alt=""></p>
                <p>个人中心</p>
            </div>
        </div>
        <div class="pure-u-1-1 banner-slide our">
            <a href="/contact">
                <p><img src="/static/images/main-banner/banner-icon/contact.png" alt=""></p>
                <p>联系我们</p>
            </a>
        </div>
    </div>
</div>
<div class="hide-box"></div>