body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:16px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
html{font-size:100%;}
a{color:#2d374b;text-decoration:none}
body a:hover{color:#cd0200;text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.clearfix:after{
    content : "";
    display:block;
    clear:both;
}
.border-red{
    border:1px solid red;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.blod{
    font-weight:bold;
}
.center_box{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    transform:translateY(-50%);
}
.milky{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: #1296db;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    /*background: linear-gradient(to bottom, #6699FF 0%,#6699CC 100%);*/
    -webkit-transform: translate(-50%,-50%);
    border-radius: 20px;
    text-decoration:none;
}