<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>租房客房源列表</title>
	<link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
	<link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
	<link rel="stylesheet" href="__STATIC__/style/init/init.css">
	<link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
	<link rel="stylesheet" href="__STATIC__/style/main/main.css">
	<link rel="stylesheet" href="__STATIC__/style/house/house_list.css">
	<script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
	<script src="__STATIC__/scripts/sui/sui.min.js"></script>
	<script src="__STATIC__/scripts/banner/banner.js"></script>
	<script src="__STATIC__/scripts/house/house_list.js"></script>
</head>
<body>
	<div class="mobile">
		<?php include_once "/static/banner-m.php"; ?>
		<div class="main-content">
			<div class="show-content">
				<!--业务界面-->
			</div>
		</div>
	</div>
	<div class="computer">
		<?php include_once "/static/banner-c.php"; ?>
		<div class="main-content">
			<div class="show-content">
				<!--业务界面-->
				<div class="title">
					<p>
						<i class="sui-icon icon-tb-home"></i>
						<span>房源列表</span>
						<a href="javascript:void(0)" class="sui-btn btn-bordered btn-large btn-primary">添加房源</a>
					</p>
				</div>
				<div class="house-title clearfix">
					<div class="banner-box fl">
						<p>
							<span class="title_s bor-b chose">合租</span>
							<span class="title_s bor-b">整租</span>
						</p>
					</div>
					<div class="banner-box fl">
						<p>
							<span class="title_s list">全部</span>
							<span class="title_s list">空置</span>
							<span class="title_s list">逾期</span>
							<span class="title_s list">预定</span>
							<span class="title_s list">已租</span>
							<span class="title_s list">着火房</span>
							<span class="title_s list">已到期-未退房</span>
							<span class="title_s list">将到期</span>
						</p>
					</div>
					<div class="banner-box fr">
						<a href="javascript:void(0)" class="sui-btn btn-bordered btn-large btn-primary">重置</a>
					</div>
					<div class="banner-box fr">
						<a href="javascript:void(0)" class="sui-btn btn-bordered btn-large btn-primary">搜索</a>
					</div>
					<div class="banner-box fr">
						<form action="" class="sui-form">
							<input type="text" placeholder="请输入房源名称" class="search input-large input-xfat">
							<i class="search-icon"></i>
						</form>
					</div>
				</div>
				<!--房源列表-->
				<div class="house-box">
					<div class="top-title clearfix">
						<!--区域-->
						<div class="area-title fl">劲松3区(北京朝阳劲松桥西南角50米路南)</div>
						<div class="area-menu fl"><i class="sui-icon icon-tb-more"></i></div>
						<div class="pack fr">
							<p>
								<i class="sui-icon icon-tb-unfold" style="font-size:20px;"></i>
							</p>
						</div>
						<div class="house-msg fr">
							<p>
								空置：<span class="number">1</span>间
							</p>
						</div>
						<div class="house-msg fr">
							<p>
								房源总数：<span class="number">2</span>间
							</p>
						</div>
					</div>
					<div class="mid-content">
						<!--小区单元-->
						<div class="m-top-title clearfix">
							<div class="room-title fl">
								<p>
									307栋6单元503室
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-roundadd"></i>
									<span>添加</span>
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-edit"></i>
									<span>编辑</span>
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-delete"></i>
									<span>删除</span>
								</p>
							</div>
							<div class="room-pack fl">
								<p>
									<i class="sui-icon icon-tb-unfold" style="font-size:20px;"></i>
								</p>
							</div>
						</div>
						<div class="m-mid-content clearfix">
							<!--房间-->
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap non-empty">
									<p>
										01
									</p>
									<div class="pointer"></div>
									<div class="sign overdue">
										<p>
											逾
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other"></div>
									<div class="show-msg phone">18974933220</div>
									<div class="show-msg warning-msg">逾期63天</div>
									<div class="show-msg room-user">陈金</div>
									<div class="show-msg price">800元/月</div>
								</div>
							</div>
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap empty">
									<p>
										02
									</p>
									<div class="pointer"></div>
									<div class="sign null">
										<p>
											空
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other">空置7天</div>
									<div class="show-msg phone"></div>
									<div class="show-msg warning-msg"></div>
									<div class="show-msg room-user"></div>
									<div class="show-msg price"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="house-box">
					<div class="top-title clearfix">
						<!--区域-->
						<div class="area-title fl">郦景东城(四川省成都市成华区八里小区镇/街道郦景东城)</div>
						<div class="area-menu fl"><i class="sui-icon icon-tb-more"></i></div>
						<div class="pack fr">
							<p>
								<i class="sui-icon icon-tb-unfold" style="font-size:20px;"></i>
							</p>
						</div>
						<div class="house-msg fr">
							<p>
								空置：<span class="number">1</span>间
							</p>
						</div>
						<div class="house-msg fr">
							<p>
								房源总数：<span class="number">3</span>间
							</p>
						</div>
					</div>
					<div class="mid-content">
						<!--小区单元-->
						<div class="m-top-title clearfix">
							<div class="room-title fl">
								<p>
									2栋3单元510室
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-roundadd"></i>
									<span>添加</span>
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-edit"></i>
									<span>编辑</span>
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-delete"></i>
									<span>删除</span>
								</p>
							</div>
							<div class="room-pack fl">
								<p>
									<i class="sui-icon icon-tb-unfold" style="font-size:20px;"></i>
								</p>
							</div>
						</div>
						<div class="m-mid-content clearfix">
							<!--房间-->
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap empty">
									<p>
										独卫+飘窗
									</p>
									<div class="pointer"></div>
									<div class="sign null">
										<p>
											空
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other">空置38天</div>
									<div class="fire-icon"></div>
									<div class="show-msg phone"></div>
									<div class="show-msg warning-msg"></div>
									<div class="show-msg room-user"></div>
									<div class="show-msg price"></div>
								</div>
							</div>
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap non-empty">
									<p>
										次卧+飘窗
									</p>
									<div class="pointer"></div>
									<div class="sign overdue">
										<p>
											逾
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other"></div>
									<div class="show-msg phone">13001047286</div>
									<div class="show-msg warning-msg">逾期21天</div>
									<div class="show-msg room-user">芳</div>
									<div class="show-msg price">1元/月</div>
								</div>
							</div>
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap non-empty">
									<p>
										次卧+飘窗
									</p>
									<div class="pointer"></div>
									<div class="sign live">
										<p>
											住
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other">已出租</div>
									<div class="show-msg phone"></div>
									<div class="show-msg warning-msg"></div>
									<div class="show-msg room-user">黄红林</div>
									<div class="show-msg price">1元/月</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="house-box">
					<div class="top-title clearfix">
						<!--区域-->
						<div class="area-title fl">春柳社区(辽宁省大连市沙河口区周水子街道镇/街道春柳社区)</div>
						<div class="area-menu fl"><i class="sui-icon icon-tb-more"></i></div>
						<div class="pack fr">
							<p>
								<i class="sui-icon icon-tb-unfold" style="font-size:20px;"></i>
							</p>
						</div>
						<div class="house-msg fr">
							<p>
								空置：<span class="number">1</span>间
							</p>
						</div>
						<div class="house-msg fr">
							<p>
								房源总数：<span class="number">3</span>间
							</p>
						</div>
					</div>
					<div class="mid-content">
						<!--小区单元-->
						<div class="m-top-title clearfix">
							<div class="room-title fl">
								<p>
									12栋3单元301室
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-roundadd"></i>
									<span>添加</span>
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-edit"></i>
									<span>编辑</span>
								</p>
							</div>
							<div class="room-command fl">
								<p>
									<i class="sui-icon icon-tb-delete"></i>
									<span>删除</span>
								</p>
							</div>
							<div class="room-pack fl">
								<p>
									<i class="sui-icon icon-tb-unfold" style="font-size:20px;"></i>
								</p>
							</div>
						</div>
						<div class="m-mid-content clearfix">
							<!--房间-->
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap non-empty">
									<p>
										A
									</p>
									<div class="pointer"></div>
									<div class="sign live">
										<p>
											住
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other"></div>
									<div class="show-msg phone">已出租</div>
									<div class="show-msg warning-msg"></div>
									<div class="show-msg room-user"></div>
									<div class="show-msg price">2500元/月</div>
								</div>
							</div>
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap empty">
									<p>
										B
									</p>
									<div class="pointer"></div>
									<div class="sign null">
										<p>
											空
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other">空置29天</div>
									<div class="show-msg phone"></div>
									<div class="show-msg warning-msg"></div>
									<div class="show-msg room-user"></div>
									<div class="show-msg price">2500元/月</div>
								</div>
							</div>
							<div class="house-room fl" title="点击查看更多信息">
								<div class="cap non-empty">
									<p>
										C
									</p>
									<div class="pointer"></div>
									<div class="sign live">
										<p>
											住
										</p>
									</div>
								</div>
								<div class="house-info">
									<div class="show-msg other">已出租</div>
									<div class="show-msg phone"></div>
									<div class="show-msg warning-msg"></div>
									<div class="show-msg room-user">芳芳</div>
									<div class="show-msg price">1元/月</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
