<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>合同页面</title>
    <link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
    <link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
    <link rel="stylesheet" href="__STATIC__/style/init/init.css">
    <link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
    <link rel="stylesheet" href="__STATIC__/style/main/main.css">
    <link rel="stylesheet" href="__STATIC__/style/accounts/accounts.css">
    <script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
    <script src="__STATIC__/scripts/jquery/jquery.actual.min.js"></script>
    <script src="__STATIC__/scripts/sui/sui.min.js"></script>
    <script src="__STATIC__/scripts/banner/banner.js"></script>
</head>
<body>
    <div class="computer">
        {include file="banner/banner" /}
        <div class="main-content">
            <div class="show-content">
                <!--业务界面-->
                <div class="title">
                    <p>
                        <i class="sui-icon icon-tb-refund"></i>
                        <span>账目列表</span>
                    </p>
                </div>
                <!--总账目统计区-->
                <div class="all-check">
                    <div class="left-check">
                        <div class="check-title clearfix">
                            <div class="logo fl"><i class="sui-icon icon-touch-date"></i></div>
                            <div class="title-msg fr">房源总账目明细</div>
                        </div>
                        <div class="all-money">
                            <div class="under-mid">
                                <div class="income">6666666</div>
                                <div class="entity-circle circle"></div>
                                <div class="dashed-circle circle"></div>
                            </div>
                            <div class="under-down">
                                <p>总收入金额(元)</p>
                            </div>
                            <div class="under-extra">
                                <div class="house-all circle">
                                    <div class="center_box">
                                        <p><i class="sui-icon icon-home"></i>房源总计</p>
                                        <p>6666</p>
                                    </div>
                                </div>
                                <div class="house-sign circle">
                                    <div class="center_box">
                                        <p><i class="sui-icon icon-home"></i>已签约房</p>
                                        <p>6666</p>
                                    </div>
                                </div>
                                <div class="house-cash circle">
                                    <div class="center_box">
                                        <p><i class="sui-icon icon-tb-form"></i>租金收入</p>
                                        <p>666666</p>
                                    </div>
                                </div>
                                <div class="house-we circle">
                                    <div class="center_box">
                                        <p><i class="sui-icon icon-tb-form"></i>水电收入</p>
                                        <p>6666</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--表格详细区-->
                <div class="sui-pagination pagination-large">
                    <ul>
                        <li class="prev disabled"><a href="javascript:void(0);">«</a></li>
                        <li class="active"><a href="javascript:void(0);">1</a></li>
                        <li><a href="javascript:void(0);">2</a></li>
                        <li><a href="javascript:void(0);">3</a></li>
                        <li><a href="javascript:void(0);">4</a></li>
                        <li><a href="javascript:void(0);">5</a></li>
                        <li class="next"><a href="javascript:void(0);">»</a></li>
                    </ul>
                </div>
                <div class="table-area">
                    <table class="sui-table table-primary">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>房源信息</th>
                                <th>承租人</th>
                                <th>联系号码</th>
                                <th>合约状态</th>
                                <th>租金</th>
                                <th>电使用(度)</th>
                                <th>水使用(吨)</th>
                                <th>水电总计(元)</th>
                                <th>总金额(元)</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="add">
                            <tr>
                                <td>1</td>
                                <td>翻斗大街翻斗花园2栋1单元1001室101房间</td>
                                <td>林传托</td>
                                <td>13175001592</td>
                                <td class="clear">已交付</td>
                                <td>1500</td>
                                <td>1500</td>
                                <td>100</td>
                                <td>10</td>
                                <td>200000</td>
                                <td>
                                    <div class="handle-area">
                                        <button class="sui-btn btn-info btn-bordered btn-xlarge">查看合同</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>青青草原旁边的森林里的狼堡1栋1单元5001室102房间</td>
                                <td>陈和群</td>
                                <td>15606517843</td>
                                <td class="overdue">逾期中</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td>4</td>
                                <td>4</td>
                                <td>3000000</td>
                                <td>
                                    <div class="handle-area">
                                        <button class="sui-btn btn-primary btn-bordered btn-xlarge">交付</button>
                                    </div>
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>