<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>租金核算</title>
    <link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
    <link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
    <link rel="stylesheet" href="__STATIC__/style/init/init.css">
    <link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
    <link rel="stylesheet" href="__STATIC__/style/main/main.css">
    <link rel="stylesheet" href="__STATIC__/style/accounts/pay.css">
    <script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
    <script src="__STATIC__/scripts/jquery/jquery.actual.min.js"></script>
    <script src="__STATIC__/scripts/sui/sui.min.js"></script>
    <script src="__STATIC__/scripts/banner/banner.js"></script>
    <script src="__STATIC__/scripts/accounts/pay.js"></script>
</head>
<body>
    <div class="computer">
        {include file="banner/banner" /}
        <div class="main-content">
            <div class="show-content">
                <!--业务界面-->
                <div class="qr-box">
                    <div class="title">
                        <div class="milky">支付类型</div>
                    </div>
                    <div class="btn-area">
                        <div class="pay-btn">
                            <button class="sui-btn btn-bordered btn-success btn-xlarge wx">
                                微信
                            </button>
                            <img src="{}" class="hidden wx-img" alt="">
                        </div>
                        <div class="pay-btn">
                            <button class="sui-btn btn-bordered btn-primary btn-xlarge zfb">
                                支付宝
                            </button>
                            <img src="{}" class="hidden zfb-img" alt="">
                        </div>
                        <div class="pay-btn">
                            <button class="sui-btn btn-bordered btn-danger btn-xlarge back">
                                返回
                            </button>
                        </div>
                    </div>
                </div>
                {include file="tips/tip" /}
                {include file="tips/img" /}
            </div>
        </div>
    </div>
</body>
</html>