.computer .show-content{
    padding:20px;
}
.computer .show-content .title{
    padding-bottom:10px;
    border-bottom:1px solid rgb(238,238,238);
    font-size:30px;
    color:rgb(2,96,196);
    line-height:30px;
}
.computer .show-content .title span{
    margin:0 5px;
}
.computer .show-content .title a{
    margin-bottom:5px;
}
.computer .show-content .house-title{
    padding:20px 0;
}
.computer .show-content .house-title .banner-box{
    position:relative;
    margin-right:100px;
}
.computer .show-content .house-title .banner-box .title_s:hover{
    color:rgb(2,96,196);
    cursor:pointer;
}
.computer .show-content .house-title .banner-box .list{
    margin-right:18px;
    line-height:36px;
}
.computer .show-content .house-title .banner-box .bor-b{
    padding-bottom:6px;
    font-family:"黑体";
    font-size:30px;
    font-weight:bold;
}
.computer .show-content .house-title .banner-box .chose{
    color:rgb(2,96,196);
    border-bottom:3px solid #0099ff;
}
.computer .show-content .house-title .banner-box .search{
    position:relative;
    display:inline-block;
    border-radius:5px;
}
.computer .show-content .house-title .banner-box .search-icon{
    position:absolute;
    top:8px;
    right:5px;
    width:25px;
    height:25px;
    background:url("../../images/main-banner/banner-icon/Search.png") no-repeat 0/cover;
    cursor:pointer;
}
.computer .show-content .house-title .fr{
    padding-top:5px;
    margin-right:15px;
}
.computer .show-content .house-title .fr a{
    margin-top:2px;
}
.computer .show-content .house-box{
    margin-bottom:20px;
}
.computer .show-content .house-box .top-title .area-title{
    margin-right:18px;
    font-size:23px;
    font-weight:bold;
    line-height:25px;
}
.computer .show-content .house-box .top-title .area-menu{
    position:relative;
    width:20px;
    border:2px solid #0099ff;
    border-radius:50%;
    font-size:18px;
    color:#0099ff;
    text-align:center;
    cursor:pointer;
}
.computer .show-content .house-box .top-title .area-menu .c-list{
    display:none;
    position:absolute;
    top:32px;
    left:-43px;
    width:90px;
    padding:10px;
    text-align:center;
    border:1px solid #ddd;
    border-radius:10px;
    background:white;
    z-index:10;
}
.computer .show-content .house-box .top-title .area-menu .c-list .list-arrow{
    position:absolute;
    top:-20px;
    left:42px;
    width:0;
    height:0;
    border:10px solid;
    border-color:transparent transparent #eee transparent;
    z-index:11;
}
.computer .show-content .house-box .top-title .area-menu .c-list ul li{
    color:#777;
}
.computer .show-content .house-box .top-title .area-menu .c-list ul li:hover{
    color:#0099ff;
}
.computer .show-content .house-box .top-title .pack,.computer .show-content .house-box .mid-content .m-top-title .room-pack{
    transform:rotate(180deg);
    transition:transform .2s linear;
}
.computer .show-content .house-box .top-title .zero,
.computer .show-content .house-box .mid-content .m-top-title .zero{
    transform:rotate(0deg);
}
.computer .show-content .house-box .top-title .pack:hover,
.computer .show-content .house-box .mid-content .m-top-title .room-pack:hover{
    color:#0099ff;
    cursor:pointer;
}
.computer .show-content .house-box .top-title .house-msg{
    font-size:20px;
    margin-right:18px;
}
.computer .show-content .house-box .top-title .house-msg .number{
    color:#0099ff;
}
.computer .show-content .house-box .mid-content{
    overflow:hidden;
    max-height:290px;
    padding:10px;
    transition:all .3s linear;
    border-bottom:1px solid rgb(238,238,238);
}
.computer .show-content .house-box .mid-content .m-top-title{
    margin-top:15px;
    font-size:20px;
}
.computer .show-content .house-box .mid-content .m-top-title .room-title{
    color:#0099ff;
    font-weight:bold;
    margin-right:50px;
}
.computer .show-content .house-box .mid-content .m-top-title .room-command{
    margin-right:25px;
}
.computer .show-content .house-box .mid-content .m-top-title .room-command:hover,.computer .show-content .house-box .mid-content .m-top-title .room-pack:hover{
    color:#0099ff;
    cursor:pointer;
}
.computer .show-content .house-box .mid-content .m-top-title .room-command i{
    color:#0099ff;
}
.computer .show-content .house-box .mid-content .m-mid-content{
    overflow:hidden;
    height:220px;
    padding:10px;
    margin-top:10px;
    transition:all .3s linear;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room{
    position:relative;
    width:153px;
    height:219px;
    margin-right:20px;
    border:1px solid #eee;
    box-shadow:0 0 10px #ddd;
    text-align:center;
    cursor:pointer;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .cap{
    position:relative;
    width:153px;
    height:63px;
    font-size:20px;
    color:white;
    line-height:52px;
    text-align:center;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .non-empty{
    background:url("../../images/main-banner/house-blue.png") no-repeat 0/cover;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .empty{
    background:url("../../images/main-banner/house-orange.png") no-repeat 0/cover;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .cap .pointer{
    position:absolute;
    top:7px;
    right:10px;
    width:2px;
    height:15px;
    background:url("../../images/main-banner/house-oper-icon.png") no-repeat 0/cover;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .cap .sign{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:32px;
    height:32px;
    margin:45px auto;
    text-align:center;
    border-radius:50%;
    color:white;
    font-size:20px;
    line-height:32px;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .cap .overdue{
    background:rgb(250,130,130);
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .cap .null{
    background:rgb(170,170,170);
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .cap .live{
    background:rgb(128,194,105);
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-info{
    margin:23px 0;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .show-msg{
    margin:12px 0;
    color:#777;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .warning-msg{
    color:red;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .price{
    color:#0099ff;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-info .fire-icon{
    width:40px;
    height:40px;
    margin:0 auto;
    background:url("../../images/main-banner/fire.png") no-repeat 0/cover;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle{
    display:none;
    position:absolute;
    bottom:0;
    left:153px;
    width:437px;
    background:white;
    border:1px solid #ddd;
    box-shadow:0 0 15px #ddd;
    text-align:left;
    text-indent:15px;
    z-index:15;
    cursor:default;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .all-msg{
    border-right:1px solid #ddd;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .all-msg > div{
    padding-right:15px;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .all-msg-top{
    border-bottom:1px solid #ddd;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .all-msg-title{
    line-height:40px;
    font-size:20px;
    font-weight:bold;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .all-msg .all-msg-house{
    padding-bottom:10px;
    border-bottom:1px dashed #ddd;
    line-height:22px;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .all-msg .all-msg-contract{
    min-height:85px;
    padding-bottom:10px;
    line-height:22px;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .handle-area{
    position:relative;
    width:150px;
    background:#eee;
    text-align:left;
    text-indent:15px;
    z-index:15;
    cursor:default;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .handle-area .house-handle-list{
    padding-top:10px;
    line-height:30px;
    color:#0099ff;
    cursor:pointer;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .handle-area .house-handle-list .house-contract-handle{
    position:absolute;
    bottom:2%;
}
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .handle-area .house-handle-list .house-contract-handle > div:hover,
.computer .show-content .house-box .mid-content .m-mid-content .house-room .house-handle .handle-area .house-handle-list .house-controll > div:hover{
    color:orange;
}
/*模态框*/
#housing{
    width:1300px;
    margin-left:-650px;
}
#rooming{
    width:1240px;
    margin-left:-620px;
}
#housing .modal-content .modal-body,
#rooming .modal-content .modal-body{
    overflow:initial;
    max-height:2000px;
}
#housing .modal-body .house-type,
#housing .modal-body .plot,
#housing .modal-body .house-number{
    margin-bottom:20px;
    font-size:16px;
    color:#0099ff;
}
#housing .modal-body .add-plot{
    display:none;
}
#rooming .modal-body .house-type,
#rooming .modal-body .plot,
#rooming .modal-body .house-number{
    margin-bottom:20px;
    font-size:16px;
    color:#0099ff;
}
#rooming .modal-body .plot p{
    border:1px solid #ddd;
}
#housing .modal-body .table-area thead th,
#rooming .modal-body .table-area thead th{
    text-align:center;
}
#housing .modal-body .table-area tbody td input{
    width:90%;
    text-align:center;
}
#rooming .modal-body .table-area tbody td input{
    display:block;
    width:80%;
    margin:0 auto;
    text-align:center;
}
#rooming .modal-body .table-area tbody td.room-size,#rooming .modal-body .table-area tbody td.room-price{
    width:100px;
}
#housing .modal-body .table-area td span.dropdown-inner,
#rooming .modal-body .table-area td span.dropdown-inner{
    width:63px;
}
#housing .modal-body .table-area td span.dropdown-inner a.dropdown-toggle,
#rooming .modal-body .table-area td span.dropdown-inner a.dropdown-toggle{
    min-width:0;
}
#housing .modal-body .table-area tbody td.fitment span.dropdown-inner,
#rooming .modal-body .table-area tbody td.fitment span.dropdown-inner{
    width:120px;
}
#rooming .modal-body .table-area tbody td.room-type span.dropdown-inner{
    width:105px;
}
#rooming .modal-body .table-area tbody td.room-comment{
    font-size:18px;
    text-align:center;
}
#checkOut{
    width:800px;
    margin-left:-400px;
}
#checkOut .modal-body .msg-box{
    margin:18px 0;
    font-size:16px;
    color:#333;
}
#checkOut .modal-body .msg-box > div{
    width:300px;
}
#checkOut .modal-body .msg-box textarea{
    font-size:20px;
}