<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>合同页面</title>
    <link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
    <link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
    <link rel="stylesheet" href="__STATIC__/style/init/init.css">
    <link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
    <link rel="stylesheet" href="__STATIC__/style/main/main.css">
    <link rel="stylesheet" href="__STATIC__/style/contract/contract.css">
    <script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
    <script src="__STATIC__/scripts/jquery/jquery.actual.min.js"></script>
    <script src="__STATIC__/scripts/sui/sui.min.js"></script>
    <script src="__STATIC__/scripts/banner/banner.js"></script>
</head>
<body>
    <div class="computer">
        <?php include_once "../app/admin/view/banner/banner.html"; ?>
        <div class="main-content">
            <div class="show-content">
                <!--业务界面-->

            </div>
        </div>
    </div>
</body>
</html>