<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>合同页面</title>
    <link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
    <link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
    <link rel="stylesheet" href="__STATIC__/style/init/init.css">
    <link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
    <link rel="stylesheet" href="__STATIC__/style/main/main.css">
    <link rel="stylesheet" href="__STATIC__/style/contract/contract.css">
    <script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
    <script src="__STATIC__/scripts/jquery/jquery.actual.min.js"></script>
    <script src="__STATIC__/scripts/sui/sui.min.js"></script>
    <script src="__STATIC__/scripts/banner/banner.js"></script>
    <script src="__STATIC__/scripts/contract/index.js"></script>
</head>
<body>
    <div class="computer">
        {include file="banner/banner" /}
        <div class="main-content">
            <div class="show-content">
                <!--业务界面-->
                <div class="title">
                    <p>
                        <i class="sui-icon icon-tb-form"></i>
                        <span>合同列表</span>
                        <a href="contract/addpage" class="big-add sui-btn btn-bordered btn-large btn-primary">添加合同</a>
                    </p>
                </div>
                <div class="func clearfix">
                    <div class="sui-pagination pagination-large page-menu fl">
                        <ul>
                            <li>{$pagecount}</li>
                            <!--<li class="prev disabled"><a href="javascript:void(0);">«</a></li>-->
                            <!--<li class="active"><a href="javascript:void(0);">1</a></li>-->
                            <!--<li><a href="javascript:void(0);">2</a></li>-->
                            <!--<li><a href="javascript:void(0);">3</a></li>-->
                            <!--<li><a href="javascript:void(0);">4</a></li>-->
                            <!--<li><a href="javascript:void(0);">5</a></li>-->
                            <!--<li class="next"><a href="javascript:void(0);">»</a></li>-->
                        </ul>
                    </div>
                    <div class="search-area fr">
                        <form action="/contract/search" class="sui-form clearfix">
                            <div class="sui-btn btn-primary btn-bordered btn-large fr search-btn">搜索</div>
                            <div class="input-control control-right fr">
                                <input type="text" class="input-fat" name="cont_phone" placeholder="输入手机查询对应合同">
                                <i class="sui-icon icon-touch-magnifier"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-area">
                    <table class="sui-table table-primary">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>房间信息</th>
                                <th>承租人</th>
                                <th>联系号码</th>
                                <th>合同起始时间</th>
                                <th>合同截止时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="add">
                        {foreach name="data" item="contract" key="ck"}
                            <tr>
                                <form action="/contract/check" method="post" class="sui-form">
                                <td>{$contract.contid} <input type="hidden" value="{$contract.contid}" name="contid"></td>
                                <td>{$contract.address}</td>
                                <td data-id="{$contract.user.uid}">{$contract.user.name}</td>
                                <td>{$contract.user.phone}</td>
                                <td>{$contract.start_time}</td>
                                <td>{$contract.end_time}</td>
                                <td>
                                    <div class="handle-area">
                                        <button class="sui-btn btn-info btn-bordered btn-xlarge">查看</button>
                                        <span class="sui-btn btn-danger btn-bordered btn-xlarge con_del">删除</span>
                                    </div>
                                </td>
                                </form>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <!--提示框-->
                {include file="tips/tip" /}
            </div>
        </div>
    </div>
</body>
</html>