html,body{
    height:100%;
}
.computer{
    display:none;
}
.mobile{
    position:relative;
    display:block;
    height:100%;
}
/*电脑端*/
@media (min-width:1280px){
    .mobile{
        display:none;
    }
    .computer{
        display:block;
    }
    .login_box{
        overflow:hidden;
        white-space:nowrap;
        min-height:750px;
        height:100%;
    }
    .login_box .slide{
        position:relative;
        transition:all .8s ease;
    }
    .login_box .slide:hover .bg_box .bg{
        transform:skew(5deg) translateZ(0) scale(1.1);
    }
    .login_box .left{
        display:inline-block;
        margin-left:-30%;
        width:80%;
        height:100%;
        zoom:1;
    }
    .login_box .right{
        display:inline-block;
        width:80%;
        height:100%;
        zoom:1;
    }
    .login_box:hover .right{
        transform:translate3d(5%,0,0);
    }
    .login_box:hover .left{
        transform:translate3d(-5%,0,0);
    }
    .login_box .left:hover{
        transform:translate3d(5%,0,0);
    }
    .login_box .right:hover{
        transform:translate3d(-5%,0,0);
    }
    .login_box .bg_box{
        position:relative;
        overflow:hidden;
        width:100%;
        height:100%;
        transform:skew(-5deg) translateZ(0);
    }
    .login_box .left .bg_box{
        margin-right:-20px;
    }
    .login_box .right .bg_box{
        margin-left:-20px;
    }
    .login_box .bg_box .bg{
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        transform:skew(5deg) translateZ(0);
        background-repeat: no-repeat;
        background-size:cover;
        transition:all .8s ease;
    }
    .login_box .left .bg{
        right:-10%;
        background:url("../../images/login/bg/left_bg.jpg");
    }
    .login_box .right .bg{
        left:-10%;
        background:url("../../images/login/bg/right_bg.jpg");
    }
    .login_box .slide .bg_box .grey{
        position:absolute;
        top:0;
        width:150%;
        height:100%;
        background:black;
        opacity:0;
        transition:opacity .8s;
    }
    .login_box .left .bg_box .grey{
        right:-10%;
    }
    .login_box .right .bg_box .grey{
        left:-10%;
    }
    .login_box:hover .slide .bg_box .grey{
        opacity:.5;
    }
    .login_box .slide:hover .bg_box .grey{
        opacity:0;
    }
    .login_box .slide .login_content{
        position:absolute;
        top:50%;
        width:40%;
        transform:translateY(-50%);
        height:400px;
    }
    .login_box .left .login_content{
        right:12%;
    }
    .login_box .right .login_content{
        left:12%;
    }
    .login_box .slide .login_content .input_area{
        position:absolute;
        width:100%;
        text-align:center;
        font-weight:bold;
        color:white;
        transition:opacity .8s ease;
    }
    .login_box .left .login_content .input_area{
        bottom:10%;
    }
    .login_box .right .login_content .input_area{
        bottom:20%;
    }
    .login_box .slide .login_content .input_area input{
        border-radius:10px;
    }
    .login_box .slide .login_content .input_area .user,.login_box .slide .login_content .input_area .pwd{
        position:relative;
        font-size:30px;
    }
    .login_box .slide .login_content .input_area .user,.login_box .slide .login_content .input_area .pwd{
        margin-bottom:25px;
    }
    .login_box .slide .login_content .input_area .user i,.login_box .slide .login_content .input_area .pwd i{
        margin-right:10px;
    }
    .login_box .slide .login_content .input_area .btn_login{
        width:145px;
        margin:auto;
    }
    .login_box .slide .login_content .input_area .btn_login a{
        border-radius:10px;
    }
    .login_box .right .login_content .input_area .user i{
        position:relative;
        top:5px;
    }
}
/*移动端*/
.mobile .box{
    position:absolute;
    width:100%;
    height:50%;
    transition:all .8s ease;
}
.mobile .house_user{
    top:0;
    background:url("../../images/login/bg/left_bg.jpg") no-repeat 0/cover;
}
.mobile .sim_user{
    bottom:0;
    background:url("../../images/login/bg/right_bg.jpg") no-repeat 0/cover;
}
.mobile .h_content{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:100%;
    height:80%;
}
.mobile .h_content .mobile_input{
    position:absolute;
    bottom:5%;
    width:100%;
    color:white;
    font-weight:bold;
    text-align:center;
    opacity:0;
    transition:opacity .8s ease;
}
@media (min-width:375px){
    .mobile .h_content .mobile_input{
        bottom:10%;
    }
}
@media (min-height:823px){
    .mobile .h_content .mobile_input{
        bottom:18%;
    }
}
@media (min-width:768px){
    .mobile .h_content .mobile_input{
        bottom:5%;
        zoom:1.5;
    }
    .mobile .tips{
        zoom:1.5;
    }
}
@media (min-width:1024px){
    .mobile .h_content .mobile_input{
        bottom:5%;
        zoom:2;
    }
    .mobile .tips{
        zoom:2;
    }
}
.mobile .sim_user .h_content .mobile_input{
    bottom:20%;
}
.mobile input{
    border-radius:5px !important;
}
.mobile .h_content .mobile_input form > div{
    margin-bottom:20px;
}
.mobile .h_content .mobile_input i{
    position:relative;
    top:5px;
    font-size:30px;
}
.mobile .h_content .mobile_input .btn_login{
    width:40%;
    margin:auto;
}
.mobile .h_content .mobile_input .btn_login a{
    border-radius:10px;
}
.mobile .sim_user .h_content .mobile_input i{
    top:12px;
}
.mobile .box .tips{
    position:absolute;
    bottom:10%;
    width:100%;
    text-align:center;
    font-size:25px;
    color:white;
    font-weight:bold;
    animation:upDown .8s infinite linear;
}
.mobile .box .tips_btn{
    width:60%;
    margin:auto;
    border:1px solid white;
    border-radius:10px;
}
@keyframes upDown{
    0%{bottom:10%;}
    50%{bottom:7%;}
    100%{bottom:10%;}
}

