<!--提示框-->
<div id="show">
    <div class="mask"></div>
    <div class="tip-box">
        <div class="loading">
            <div class="animal">
                <div class="ball one"></div>
                <div class="ball two"></div>
                <div class="ball three"></div>
                <div class="ball four"></div>
                <div class="ball five"></div>
                <div class="ball six"></div>
                <div class="ball seven"></div>
                <div class="ball eight"></div>
                <div class="ball nine"></div>
                <div class="ball ten"></div>
                <div class="ball eleven"></div>
                <div class="ball twelve"></div>
            </div>
            <div class="tip-msg">Loading....</div>
        </div>
        <div class="success-animal">
            <div class="s-animal">
                <div><img src="__STATIC__/images/jump/success.png" alt="" width="150" height="150"></div>
            </div>
            <div class="tip-msg"></div>
        </div>
        <div class="error-animal">
            <div class="animal"></div>
            <div class="tip-msg"></div>
        </div>
    </div>
</div>