<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="__STATIC__/style/sui/sui.min.css">
    <link rel="stylesheet" href="__STATIC__/style/sui/sui-append.min.css">
    <link rel="stylesheet" href="__STATIC__/style/init/init.css">
    <link rel="stylesheet" href="__STATIC__/style/pure/grids-responsive.css">
    <link rel="stylesheet" href="__STATIC__/style/main/main.css">
    <link rel="stylesheet" href="__STATIC__/style/user/user.css">
    <script src="__STATIC__/scripts/jquery/jquery.min.js"></script>
    <script src="__STATIC__/scripts/jquery/jquery.actual.min.js"></script>
    <script src="__STATIC__/scripts/sui/sui.min.js"></script>
    <script src="__STATIC__/scripts/banner/banner.js"></script>
</head>
<body>
    <div class="computer">
        {include file="banner/banner" /}
        <div class="main-content">
            <div class="show-content">
                <div class="box">
                    <div class="main-box">
                        <div class="title">
                            <div class="milky">
                                个人中心
                            </div>
                        </div>
                        <form action="" method="post" class="sui-form form-horizontal sui-validate">
                            <div class="input-area">
                                <div class="milky">
                                    原密码:
                                </div>
                                <input type="password" placeholder="请输入原始密码" class="input-large input-xfat" data-rules="required">
                            </div>
                            <div class="input-area">
                                <div class="milky">
                                    新密码:
                                </div>
                                <input type="password" name="password" placeholder="请输入新密码" class="input-large input-xfat" data-rules="required">
                            </div>
                            <div class="input-area">
                                <div class="milky">
                                    确认密码:
                                </div>
                                <input type="password" placeholder="请再一次输入新密码" class="input-large input-xfat" data-rules="required|match=password">
                            </div>
                            <div class="input-area">
                                <a href="javascript:void(0);" class="sui-btn btn-xlarge btn-success">确认修改</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>