html,body{
    background:#EEE;
}
#box{
    padding-top:50px;
}
/*租客信息区*/
#box .sign > div + div{
    margin-bottom:12px;
}
#box form > div > div > div{
    padding:20px 35px;
    margin-bottom:30px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 30px #bbb;
}
#box .sign .title{
    position:relative;
    text-indent:15px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:30px;
}
#box .sign .title:before{
    content:"";
    position:absolute;
    top:6px;
    left:4px;
    width:5px;
    height:21px;
    background:rgb(59,180,242);
}
#box .sign .information .row > div,#box .sign .papers .row > div + div,#box .sign .pic .row > div{
    float:left;
}
#box .sign .certificate .row > div:nth-child(2){
    padding-top:1px;
}
#box .sign .certificate .row > div:nth-child(3){
    padding:0;
}
#box .sign .pic h4{
    text-align:center;
}
#box .sign .pic .dashed-box{
    position:relative;
    height:120px;
    border:1px dashed #ddd;
}
#box .sign .dashed-box:hover{
    border-color:rgb(59,180,242);
    cursor:pointer;
}
#box .sign .dashed-box:hover .plus span,#box .sign .dashed-box:hover div h5{
    color:rgb(59,180,242);
}
#box .sign .pic .dashed-box .plus{
    position:absolute;
    top:-12%;
    left:28%;
    font-size:70px;
    color:#ddd;
}
#box .sign .pic .dashed-box h5{
    position:absolute;
    bottom:5%;
    width:100%;
    color:#ddd;
    text-align:center;
}
#box .sign .last{
    margin:24px 0 0;
}
/*签约资料*/
#box .sign .papers .lease-time{
    position:relative;
    width:190px;
    text-align:left;
    text-indent:5px;
}
#box .sign .papers .lease-time i{
    position:absolute;
    right:5%;
    bottom:20%;
}
#box .sign .papers button.checked{
    color:white;
    background:rgb(59,180,242);
}
#box .sign .papers .disabled{
    border-color:rgb(59,180,242);
}
/*费用信息*/
#box .sign .textarea{
    height:150px;
}
/*按钮区*/
#box .btn-area .btn{
    width:100px;
}
#box .btn-area .row > div{
    float:left;
}